@model CommunityConnections.ViewModels.CustomerListingViewModel
@{
    ViewBag.Title = "_Listing";
}

<style>
    td{
        cursor:pointer;
    }
</style>
<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        @if (Model.Customers.Count() != 0)
        {
            <div class="card">

                <div class="table-responsive">
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>

                                <th>First Name </th>
                                <th>Middle Name</th>
                                <th>Last Name</th>
                                <th>Compnay</th>
                                <th>Title</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Country</th>
                                <th>Area Code</th>
                                <th>Phone</th>
                                <th>Other Phone</th>
                                <th>Email</th>
                                <th>Fax</th>
                                <th>Billing Email</th>
                                <th>Payment Method</th>
                                <th>Customer Balance</th>
                                <th>Notes</th>
                                <th>Popup Message</th>



                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Customers)
                            {
                            <tr>
                                <td data-id="@item.ID" class="btnEdit">@item.FirstName </td>
                                <td data-id="@item.ID" class="btnEdit">@item.MiddleName</td>
                                <td data-id="@item.ID" class="btnEdit">@item.LastName</td>
                                <td data-id="@item.ID" class="btnEdit">@item.Compnay</td>
                                <td data-id="@item.ID" class="btnEdit">@item.Title</td>
                                <td data-id="@item.ID" class="btnEdit">@item.Address</td>
                                <td data-id="@item.ID" class="btnEdit">@item.City</td>
                                <td data-id="@item.ID" class="btnEdit">@item.State</td>
                                <td data-id="@item.ID" class="btnEdit">@item.Country</td>
                                <td data-id="@item.ID" class="btnEdit">@item.AreaCode</td>
                                <td data-id="@item.ID" class="btnEdit">@item.Phone</td>
                                <td data-id="@item.ID" class="btnEdit">@item.OtherPhone</td>
                                <td data-id="@item.ID" class="btnEdit">@item.Email</td>
                                <td data-id="@item.ID" class="btnEdit">@item.Fax</td>
                                <td data-id="@item.ID" class="btnEdit">@item.BillingEmail</td>
                                <td data-id="@item.ID" class="btnEdit">@item.PaymentMethod</td>
                                <td data-id="@item.ID" class="btnEdit">@item.CustomerBalance</td>
                                <td data-id="@item.ID" class="btnEdit">@item.Notes</td>
                                <td data-id="@item.ID" class="btnEdit">@item.PopupMessage</td>
                                <td>
                                    <button data-id="@item.ID" type="button" class="btnEdit btn btn-info btn-icon-text"><i class="mdi mdi-pencil"></i> EDIT</button>
                                    <a href="@Url.Action("Delete", "Customer", new { ID = item.ID })" class="data-btn btn btn-danger btn-icon-text"><i class="mdi mdi-delete"></i>DELETE</a>

                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {

            <div class="alert alert-warning col-md-12" role="alert">
                Sorry! No records exist.
            </div>
        }
    </div>
</div>

<script>
    $(".btnEdit").click(function () {
        $.ajax({
            url: '@Url.Action("Action", "Customer")',
            type: "GET",
            data: { ID: $(this).attr("data-id") }
        })
            .done(function (oData) {
                $("#actionContainer").html(oData);
            });
           
    });
</script>