@model CommunityConnections.ViewModels.AdsActionViewModel
@{
    ViewBag.Title = "Index";
}
@if (Model != null)
{

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                @if (Model.ID != 0)
                {
                    <span>Edit Ad</span>
                }
                else
                {
                    <span>Save Ad</span>
                }
            </h2>
            <hr />




            <form id="actionForm">
                <div class="row">

                    <input type="hidden" id="ID" name="ID" value="@Model.ID" />

                    <div class="form-row col-md-12">
                        <div class="form-group col-md-4">
                            <label class="col-sm-12">Ad Size</label>
                            <select name="AdSize" id="AdSize" class="form-control">
                                @foreach (var item in Model.Layouts)
                                {
                                    if (Model.AdSize == item)
                                    {
                                        <option selected value="@item">@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }

                                }
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-12">Name</label>
                            <input required class="form-control" id="Name" value="@Model.Name" name="Name" placeholder="Enter Add Name">

                        </div>


                        <div class="form-group col-md-4">
                            <label class="col-sm-12">Layout</label>
                            <input required class="form-control" id="Layout" value="@Model.Layout" name="Layout" placeholder="Enter Layout">

                        </div>
                    </div>

                    <div class="form-row col-md-12">
                        <div class="form-group col-md-3">
                            <label class="col-sm-12">Page No</label>
                            <input required class="form-control" id="PageNo" value="@Model.PageNo" name="PageNo" placeholder="Enter Page Number">

                        </div>

                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Page No 2 (for Spread Ads)</label>
                            <input required class="form-control" id="PageTwo" value="@Model.PageTwo" name="PageTwo" placeholder="Enter Number in Case of Full Page WBleed">

                        </div>

                        <div class="form-group col-md-5">
                            <label>Path</label>
                            <div class="custom-file">
                                <input type="file" />
                                <input hidden value="@Model.Path" name="Path" id="Path" type="text" />
                                <input hidden class="form-control" value="Not Placed" name="AdStatus" id="AdStatus" />

                            </div>
                        </div>

                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Book Name</label>
                            <input required class="form-control" id="Book" value="@Model.Book" name="Book" placeholder="Enter Book Name">

                        </div>

                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Repeat</label>
                            <input required class="form-control" id="PageTwo" value="@Model.Repeat" name="Repeat" placeholder="Enter Yes or No for Repeat">

                        </div>

                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Select Customer</label>
                            <select name="Customer" id="Customer" class="form-control">
                                @foreach (var item in Model.Customers)
                                {
                                    string CustomerName = item.FirstName + " " + item.MiddleName + " " + item.LastName;
                                    if (Model.Customer == CustomerName)
                                    {
                                        <option selected value="@CustomerName">@CustomerName</option>
                                    }
                                    else
                                    {
                                        <option value="@CustomerName">@CustomerName</option>
                                    }

                                }
                            </select>
                        </div>

                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Choose Page</label>
                            <input required class="form-control" id="ChoosePage" value="@Model.ChoosePage" name="ChoosePage" placeholder="Choose Page">

                        </div>

                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Ad Graphics</label>
                            <input required class="form-control" id="AddGraphics" value="@Model.AddGraphics" name="AddGraphics" placeholder="Enter Graphics">

                        </div>

                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Delux</label>
                            <select name="Customer" id="Customer" class="form-control">

                                @if (Model != null)
                                {
                                    if (Model.Delux == "Yes")
                                    {
                                        <option selected value="Yes">Yes</option>
                                        <option value="No">No</option>

                                    }
                                    else
                                    {
                                        <option value="Yes">Yes</option>
                                        <option selected value="No">No</option>
                                    }
                                }
                                else
                                {
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                }
                            </select>
                        </div>


                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Custom Specification</label>
                            <input required class="form-control" id="CustomSpecification" value="@Model.CustomSpecification" name="CustomSpecification" placeholder="Custom Specification">

                        </div>

                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Discount</label>
                            <input required class="form-control" id="Discount" value="@Model.Discount" name="Discount" placeholder="Enter Discount">

                        </div>

                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Total</label>
                            <input required class="form-control" id="Total" value="@Model.Total" name="Total" placeholder="Enter Total">

                        </div>









                    </div>
                </div>
                <br />
                @if (Model.ID != 0)
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary"><i class="fas fa-save mr-1"></i> UPDATE</button>
                }
                else
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary "><i class="fas fa-save mr-1"></i> SAVE</button>
                }
                <a href="@Url.Action("Index","Ads")" class="btn btn-outline-danger"> CANCEL</a>
            </form>
        </div>
    </div>






    <div class="errorDiv">

    </div>

}
<script>

    $(document).ready(function () {
        $('input[type="file"]').change(function (e) {
            
            var filename = e.target.files[0].name;

            var path = document.getElementById("Path");
          
            path.value = filename;
            
        });
    });



    $("#actionButton").click(function () {
		$.ajax({
			url: '@Url.Action("Action", "Ads")',
			type: "post",
			data: $("#actionForm").serialize()
		})
		.done(function () {

            window.location.href = "@Url.Action("Index","Ads")";

		});
	});

   
</script>


