@model CommunityConnections.ViewModels.AdsActionViewModel
@{
    ViewBag.Title = "Index";
}
@if (Model != null)
{

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                @if (Model.ID != 0)
                {
                    <span>Edit Ad</span>
                }
                else
                {
                    <span>Save Ad</span>
                }
            </h2>
            <hr />




            <form id="actionForm">
                <div class="row">

                    <input type="hidden" id="ID" name="ID" value="@Model.ID" />

                    <div class="form-row col-md-12">
                        <div class="form-group col-md-4">
                            <label class="col-sm-12">Ad Size</label>
                            <select name="AdSize" id="AdSize" class="form-control">
                                @foreach (var item in Model.Layouts)
                                {
                                    if (Model.AdSize == item)
                                    {
                                        <option selected value="@item">@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }

                                }
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-12">Name</label>
                            <input required class="form-control" id="Name" value="@Model.Name" name="Name" placeholder="Enter Add Name">

                        </div>


                        <div class="form-group col-md-4">
                            <label class="col-sm-12">Layout</label>
                            <input required class="form-control" id="Layout" value="@Model.Layout" name="Layout" placeholder="Enter Layout">

                        </div>
                    </div>

                    <div class="form-row col-md-12">
                        <div class="form-group col-md-3">
                            <label class="col-sm-12">Page No</label>
                            <input required class="form-control" id="PageNo" value="@Model.PageNo" name="PageNo" placeholder="Enter Page Number">

                        </div>

                        <div class="form-group col-md-2">
                            <label class="col-sm-12">Page No</label>
                            <input required class="form-control" id="PageTwo" value="@Model.PageTwo" name="PageTwo" placeholder="Enter Number in Case of Full Page WBleed">

                        </div>

                        <div class="form-group col-md-5">
                            <label>Path</label>
                            <div class="custom-file">
                                <input type="file" value="@Model.Path" name="Path" id="Path" />
                                <input hidden class="form-control" name="AdStatus" id="AdStatus" />

                            </div>
                        </div>





                    </div>
                </div>
                <br />
                @if (Model.ID != 0)
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary"><i class="fas fa-save mr-1"></i> UPDATE</button>
                }
                else
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary "><i class="fas fa-save mr-1"></i> SAVE</button>
                }
                <a href="@Url.Action("Index","Ads")" class="btn btn-outline-danger"> CANCEL</a>
            </form>
        </div>
    </div>






    <div class="errorDiv">

    </div>

}
<script>

    @*$("#selectpath").change(function () {

        var element = this;
        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadImage", "Shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {

                console.log(response);
                if (response.Success) {
                    $("#Path").val(response.Path);
                }

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            })
    });*@




    $("#actionButton").click(function () {
        var formData = new FormData();
        var path = document.getElementById("Path").files[0];
        formData.append("path", path);

        var ID = $('#ID').val().trim();
        formData.append("ID", ID);

        var c = document.getElementById("AdSize");
        var AdSize = c.value;
        formData.append("AdSize", AdSize);

        var Name = $('#Name').val().trim();
        formData.append("Name", Name);


        var PageNo = $('#PageNo').val().trim();
        formData.append("PageNo", PageNo);

        var PageTwo = $('#PageTwo').val().trim();
        formData.append("PageTwo", PageTwo);


        var Layout = $('#Layout').val();
        formData.append("Layout", Layout);












        var url = '@Url.Action("Index", "Ads")';
		$.ajax({
			url: '@Url.Action("Action", "Ads")',
            type: "post",
            data: formData,
            processData: false,
            contentType: false
		})
            .done(function (response) {
                window.location.href = url;

		});

    });
</script>


