@model CommunityConnections.ViewModels.AdsListingViewModel
@{
    ViewBag.Title = "Index";
}



    <div id="actionContainer">
        <div class="card-body">
            <h2 class="card-title">Ad Save/Update</h2>
            @if (Model.ID != 0)
            {





                <div class="row">

                    <input type="hidden" id="ID" name="ID" value="@Model.ID" />
                    <div class="form-row col-md-12">


                        <div class="form-group col-md-7">
                            <label class="col-sm-12">Select Customer</label>
                            <select name="Customer" id="Customer" class="form-control">
                                @foreach (var item in Model.Customers)
                                {
                                    string CustomerName = item.FirstName + " " + item.MiddleName + " " + item.LastName;
                                    if (Model.Customer == CustomerName)
                                    {
                                        <option selected value="@CustomerName">@CustomerName</option>
                                    }
                                    else
                                    {
                                        <option value="@CustomerName">@CustomerName</option>
                                    }

                                }
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <a style="margin-top:29px;" href="@Url.Action("Action","Customer")" class="btn btn-primary">Add New</a>
                        </div>

                        <div class="form-group col-md-2">

                            <a style="margin-top: 29px;margin-left: -19px;" href="@Url.Action("Index","Customer")" class="btn btn-primary">Customers</a>

                        </div>
                    </div>

                    <div class="form-row col-md-12">

                        <div class="form-group col-md-4">
                            <label class="col-md-12">
                                Ad Date
                            </label>
                            @Html.TextBox("AdDate", Model.AdDate, "{0:yyyy-MM-dd}", new { @style = "width:100%", @id = "AdDate", @class = "form-control", type = "date" })
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-12">Book No</label>
                            <input required class="form-control" id="Book" value="@Model.Book" name="Book" placeholder="Enter Book Name">

                        </div>


                        <div class="form-group col-md-4">
                            <label class="col-sm-12">Steady/Repeat</label>
                            <select name="Repeat" class="form-control">
                                @if (Model.Repeat == "Steady")
                                {
                                    <option selected value="Steady">Steady</option>
                                    <option value="Repeat">Repeat</option>
                                }
                                else
                                {
                                    <option value="Steady">Steady</option>
                                    <option selected value="Repeat">Repeat</option>
                                }


                            </select>

                        </div>
                    </div>



                    <div class="form-row col-md-12">

                        <div class="form-group col-md-3">
                            <label class="col-sm-12">Ad Size</label>
                            <select name="AdSize" id="AdSize" class="form-control">
                                @foreach (var item in Model.Layouts)
                                {
                                    if (Model.AdSize == item)
                                    {
                                        <option selected value="@item">@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }

                                }
                            </select>
                        </div>

                        <div id="deluxeDiv" class="form-group col-md-2">
                            <label class="col-sm-12">Deluxe</label>

                            @if (Model.Deluxe != null)
                            {
                                if (Model.Deluxe.ToString() == "on")
                                {
                                    <input type="checkbox" checked name="Dexluxe" id="Deluxe" class="form-control" />


                                }
                                else
                                {
                                    <input type="checkbox" name="Dexluxe" id="Deluxe" class="form-control" />

                                }
                            }
                            else
                            {
                                <input type="checkbox" name="Dexluxe" id="Deluxe" class="form-control" />

                            }

                        </div>


                        <div class="form-group col-md-7">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="col-md-12">Enter Page for View</label>
                                    <input id="PageNoViewer" type="text" value="@Model.PageNo" name="PageNo" placeholder="Enter Page No" class="form-control col-md-6" />
                                    <button style=" margin-left: 178px; margin-top: -70px; " id="btnViewPageAds" type="button" class="btn btn-outline-primary">View Page Ads</button>

                                </div>



                            </div>


                        </div>
                    </div>





                    <div class="form-row col-md-12">

                        <div class="form-group col-md-12">
                            <label class="col-sm-12">Ad Description</label>
                            <textarea style="height:110px;" value="@Model.AdDescription" class="form-control" id="AdDescription" name="AdDescription" placeholder="Enter Ad  Description">@Model.AdDescription</textarea>

                        </div>

                    </div>

                    <div class="form-row col-md-12">

                        <div class="form-group col-md-12">
                            <label class="col-sm-12">Custom Specification</label>
                            <input class="form-control" id="CustomSpecification" value="@Model.CustomSpecification" name="CustomSpecification" placeholder="Custom Specification">
                            <input class="form-control" hidden id="Name" value="@Model.Name" name="Name" placeholder="Custom Specification">

                        </div>

                    </div>

                    <div class="form-row col-md-12">

                        <div class="form-group col-md-4">
                            <label class="col-sm-12">Ad Graphics</label>
                            <input required class="form-control" value="@Model.AddGraphics" id="AddGraphics" name="AddGraphics" placeholder="Enter Graphics">

                        </div>



                        <div class="form-group col-md-4">
                            <label class="col-sm-12">Discount</label>
                            <input required class="form-control" value="@Model.Discount" id="Discount" name="Discount" placeholder="Enter Discount">

                        </div>


                        <div class="form-group col-md-4">
                            <label class="col-sm-12">Custom Price</label>
                            <input required class="form-control" id="CustomPrice" name="CustomPrice" placeholder="Enter Custom Price">

                        </div>
                    </div>


                    <div class="form-row col-md-12">
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Select Status</label>
                            <select name="Status" id="Status" class="form-control">
                                @foreach (var item in Model.StatusList)
                                {
                                    string Status = item;
                                    if (Model.Status == Status)
                                    {
                                        <option selected value="@Status">@Status</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }


                                }
                            </select>
                        </div>


                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Total</label>
                            <input value="@Model.Total" class="form-control" id="Total" name="Total" placeholder="Enter Total">

                        </div>


                    </div>



                </div>
                <br />



                <div class="errorDiv">

                </div>

            }
            else
            {
                <div class="row">

                    <input type="hidden" id="ID" name="ID" />




                    <div class="form-row col-md-12">

                        <div class="form-group col-md-7">
                            <label class="col-sm-12">Select Customer</label>
                            <select name="Customer" id="Customer" class="form-control">
                                @foreach (var item in Model.Customers)
                                {
                                    string CustomerName = item.FirstName + " " + item.MiddleName + " " + item.LastName;

                                    <option value="@CustomerName">@CustomerName</option>


                                }
                            </select>
                        </div>


                        <div class="form-group col-md-3">
                            <a style="margin-top:29px;" href="@Url.Action("Action","Customer")" class="btn btn-primary">Add New</a>
                        </div>

                        <div class="form-group col-md-2">

                            <a style="margin-top: 29px;margin-left: -19px;" href="@Url.Action("Index","Customer")" class="btn btn-primary">Customers</a>

                        </div>


                    </div>

                    <div class="form-row col-md-12">

                        <div class="form-group col-md-4">
                            <label class="col-md-12">
                                Ad Date
                            </label>
                            @Html.TextBox("AdDate", DateTime.Now, "{0:yyyy-MM-dd}", new { @style = "width:100%", @id = "AdDate", @class = "form-control", type = "date" })


                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-12">Book No</label>
                            <input required class="form-control" id="Book" name="Book" placeholder="Enter Book Name">

                        </div>


                        <div class="form-group col-md-4">
                            <label class="col-sm-12">Steady/Repeat</label>
                            <select name="Repeat" class="form-control">
                                <option value="Steady">Steady</option>
                                <option value="Repeat">Repeat</option>
                            </select>

                        </div>
                    </div>

                    <div class="form-row col-md-12">
                        <div class="form-group col-md-3">
                            <label class="col-sm-12">Ad Size</label>
                            <select name="AdSize" id="AdSize" class="form-control">
                                @foreach (var item in Model.Layouts)
                                {

                                    <option value="@item">@item</option>


                                }
                            </select>
                        </div>

                        <div id="deluxeDiv" class="form-group col-md-2">
                            <label class="col-sm-12">Deluxe</label>
                            <input type="checkbox" name="Deluxe" id="Deluxe" class="form-control" />

                        </div>
                        <div class="form-group col-md-7">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="col-md-12">Enter Page for View</label>
                                    <input id="PageNoViewer" type="text" name="PageNo" placeholder="Enter Page No" class="form-control col-md-6" />
                                    <button style=" margin-left: 178px; margin-top: -70px; " id="btnViewPageAds" type="button" class="btn btn-outline-primary">View Page Ads</button>

                                </div>



                            </div>


                        </div>

                    </div>







                    <div class="form-row col-md-12">
                        <div class="form-group col-md-12">
                            <label class="col-sm-12">Ad Description</label>
                            <textarea style="height:110px;" required class="form-control" id="AdDescription" name="AdDescription" placeholder="Enter Ad  Description"></textarea>

                        </div>


                    </div>


                    <div class="form-row col-md-12">
                        <div class="form-group col-md-12">
                            <label class="col-sm-12">Custom Specification</label>
                            <input required class="form-control" id="CustomSpecification" name="CustomSpecification" placeholder="Enter Custom Specification">

                        </div>

                    </div>

                    <div class="form-row col-md-12">

                        <div class="form-group col-md-4">
                            <label class="col-sm-12">Ad Graphics</label>
                            <input required class="form-control" id="AddGraphics" name="AddGraphics" placeholder="Enter Graphics">

                        </div>



                        <div class="form-group col-md-4">
                            <label class="col-sm-12">Discount</label>
                            <input required class="form-control" id="Discount" name="Discount" placeholder="Enter Discount">

                        </div>


                        <div class="form-group col-md-4">
                            <label class="col-sm-12">Custom Price</label>
                            <input required class="form-control" id="CustomPrice" name="CustomPrice" placeholder="Enter Custom Price">

                        </div>
                    </div>



                    <div class="form-row col-md-12">
                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Select Status</label>
                            <select name="Status" id="Status" class="form-control">
                                @foreach (var item in Model.StatusList)
                                {

                                    <option value="@item">@item</option>


                                }
                            </select>
                        </div>


                        <div class="form-group col-md-5">
                            <label class="col-sm-12">Total</label>
                            <input required class="form-control" id="Total" name="Total" placeholder="Enter Total">

                        </div>


                    </div>



                </div>
                <br />


            }

        </div>

    </div>

<script>


    $(document).ready(function () {
        var idvalue = document.getElementById("ID");
       
        $('input[type="file"]').change(function (e) {

            var filename = e.target.files[0].name;
            var filelocation = window.location.origin;
            var path = document.getElementById("Path");
            if (idvalue.value == "") {
                path.value = filename;
            } else {
                path.value = filelocation + "/Content/paths/" + filename;

            }
        });
    });






    $(document).ready(function () {
        $('#AdSize').on('change', function () {
            if (this.value == 'Full Page W’ Bleed' || this.value == 'Full Page' || this.value == 'Full Spread') {
                $("#deluxeDiv").show();
            }
            else {
                $("#deluxeDiv").hide();
            }
        });
    });





    $("#btnViewPageAds").click(function () {
        var page = document.getElementById("PageNoViewer");
        var pageNo = page.value;
        var pathelement = document.getElementById("Path");
        var path = pathelement.value;
        var sizelmenet = document.getElementById("AdSize");
        var adSize = sizelmenet.options[sizelmenet.selectedIndex].value;
        $.ajax({
            url: '@Url.Action("GetAdsOnPage", "Ads")',
            type: "get",
            data: {
                PageNo: pageNo,
                AdSize: adSize,
                Path : path
            }
        })
            .done(function (data) {
                $("#MainScreenContainer").html(data);

            });
	});


</script>
