@model CommunityConnections.ViewModels.AdsListingViewModel

@{
    ViewBag.Title = "MainScreenPartial";
}

<head>
    <script src="~/Content/template/js/jquery.min.js"></script>

    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js" integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY=" crossorigin="anonymous"></script>

</head>
<style>

    .pages {
        background-color: white;
        width: 2.62in;
        height: 4.68in;
        border: solid 1px;
        float: left;
    }

    .draggable {
        word-wrap: break-word;
    }

    .card {
        margin-top: 2em;
        padding: 1.5em 0.5em 0.5em;
        border-radius: 1em;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }



    .col-md-6, .col-md-9, .col-md-12 {
        padding: 0px;
    }


    .fullsized {
        position: relative;
        width: 2.60in;
        height: 4.65in;
        padding: 0px;
    }

    .fullbleed {
        position: relative;
        width: 5.22in;
        height: 3.65in;
        padding: 0px;
    }

    .fullpageAD {
        margin-top: 12px;
        margin-left: 0px;
        height: 4.4in;
        width: 2.375in;
    }

    .Ad1by3 {
        margin-top: 12px;
        margin-left: 0px;
        height: 1.35in;
        width: 2.375in;
    }

    .Ad3by4 {
        margin-top: 12px;
        margin-left: 0px;
        height: 2.75in;
        width: 2.375in;
    }

    .AD1by8 {
        margin-top: 12px;
        margin-left: 10px;
        height: 1.5625in;
        width: 1.65in;
    }

    .Ad1By4Horizontal {
        margin-top: 12px;
        margin-left: 0px;
        height: 1.5625in;
        width: 2.375in;
    }

    .Ad1By4Vertical {
        margin-top: 12px;
        margin-left: 0px;
        height: 2.1875in;
        width: 1.65in;
    }

    .AdHalfPageVertical {
        margin-top: 12px;
        margin-left: 0px;
        height: 3.425in;
        width: 1.65in;
    }

    .AdHalfPageHorizontal {
        margin-top: 12px;
        margin-left: 0px;
        height: 2.1875in;
        width: 2.375in;
    }
</style>


<div id="MainScreenContainer" class="form-row">

    <div class="form-row col-md-12 ">

        <div class="col-md-6" style=" margin-left: -80px; ">
           
                <label class="col-md-12" style="color:white;">Ad</label>
                <input id="files" style="display:none;" type="file" />
                <label id="uploadAdlabel" for="files" class="btn btn-success">Upload Ad</label>
            
        </div>
        <div class="col-md-6" style=" margin-left: -80px; ">
            <div class="form-group">

                <label>Path</label>

                <div style=" width: 450px; " class="custom-file">

                
                    <input disabled class="form-control col-md-12" value="@Model.Path" name="Path" id="Path" type="text" />

                </div>
            </div>

        </div>

    </div>

    <div class="form-group col-md-12">
        <div id="@Model.PageOne" class="droppable pages ">
            @if (Model.AdsOnPageOne != null)
            {
                foreach (var item in Model.AdsOnPageOne)
                {
                    if (item.AdSize == "Full Page")
                    {
                        <div id="@item.ID" class="draggable ">
                            <div class="col-md-12">
                                <a>
                                    <div>
                                        <img class="draggable fullpageAD" src="@item.Path" />
                                    </div>
                                </a>
                            </div>
                        </div>

                    }
                    else if (item.AdSize == "Full Page W’ Bleed")
                    {
                        <div id="@item.ID" class="draggable ">
                            <div class="col-md-12">
                                <a>
                                    <div>
                                        <img class="draggable fullsized" src="@item.Path" />
                                    </div>
                                </a>
                            </div>



                        </div>
                    }
                    else if (item.AdSize == "1/3 Page")
                    {
                        <div id="@item.ID" class="draggable ">
                            <div class="col-md-12">
                                <a>
                                    <div class="">
                                        <img class="draggable Ad1by3" src="@item.Path" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    else if (item.AdSize == "1/4 Page Vertical")
                    {
                        <div id="@item.ID" class="draggable ">
                            <div class="col-md-12">
                                <a>
                                    <div class="">
                                        <img class="draggable Ad1By4Vertical" src="@item.Path" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    else if (item.AdSize == "1/4 Page")
                    {
                        <div id="@item.ID" class="draggable ">
                            <div class="col-md-12">
                                <a>
                                    <div class="">
                                        <img class="draggable Ad1By4Horizontal" src="@item.Path" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    else if (item.AdSize == "1/2 Page Vertical")
                    {
                        <div id="@item.ID" class="draggable ">
                            <div class="col-md-12">
                                <a>
                                    <div class="">
                                        <img class="draggable AdHalfPageVertical" src="@item.Path" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    else if (item.AdSize == "1/2 Page")
                    {
                        <div id="@item.ID" class="draggable ">
                            <div class="col-md-12">
                                <a>
                                    <div class="">
                                        <img class="draggable AdHalfPageHorizontal" src="@item.Path" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    else if (item.AdSize == "3/4 Page")
                    {
                        <div id="@item.ID" class="draggable ">
                            <div style="float:left;" class="col-md-12">
                                <a>
                                    <div>
                                        <img class="draggable Ad3by4" src="@item.Path" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    else if (item.AdSize == "1/8 Page")
                    {
                        <div id="@item.ID" class="draggable ">
                            <div style="float:left;" class="col-md-6">
                                <a>
                                    <div class="">
                                        <img class="draggable AD1by8" src="@item.Path" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    else if (item.AdSize == "Full Spread")
                    {
                        <div id="@item.ID" class="draggable ">
                            <div style="float:left;" class="col-md-6">
                                <a>
                                    <div class="">
                                        <img class="draggable fullbleed" src="@item.Path" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <div id="@Model.Page_Two" style="margin-left:1px;" class="droppable pages ">
            @if (Model.AdsOnPageTwo != null)
            {
                foreach (var item in Model.AdsOnPageTwo)
                {
                    if (item.AdSize == "Full Page")
                    {
                        <div id="@item.ID" class="draggable ">
                            <div class="col-md-12">
                                <a>
                                    <div>
                                        <img class="draggable fullpageAD" src="@item.Path" />
                                    </div>
                                </a>
                            </div>
                        </div>

                    }
                    else if (item.AdSize == "Full Page W’ Bleed")
                    {
                        <div id="@item.ID" class="draggable ">
                            <div class="col-md-12">
                                <a>
                                    <div>
                                        <img class="draggable fullsized" src="@item.Path" />
                                    </div>
                                </a>
                            </div>



                        </div>
                    }
                    else if (item.AdSize == "1/3 Page")
                    {
                        <div id="@item.ID" class="draggable ">
                            <div class="col-md-12">
                                <a>
                                    <div class="">
                                        <img class="draggable Ad1by3" src="@item.Path" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    else if (item.AdSize == "1/4 Page Vertical")
                    {
                        <div id="@item.ID" class="draggable ">
                            <div class="col-md-12">
                                <a>
                                    <div class="">
                                        <img class="draggable Ad1By4Vertical" src="@item.Path" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    else if (item.AdSize == "1/4 Page")
                    {
                        <div id="@item.ID" class="draggable ">
                            <div class="col-md-12">
                                <a>
                                    <div class="">
                                        <img class="draggable Ad1By4Horizontal" src="@item.Path" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    else if (item.AdSize == "1/2 Page Vertical")
                    {
                        <div id="@item.ID" class="draggable ">
                            <div class="col-md-12">
                                <a>
                                    <div class="">
                                        <img class="draggable AdHalfPageVertical" src="@item.Path" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    else if (item.AdSize == "1/2 Page")
                    {
                        <div id="@item.ID" class="draggable ">
                            <div class="col-md-12">
                                <a>
                                    <div class="">
                                        <img class="draggable AdHalfPageHorizontal" src="@item.Path" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    else if (item.AdSize == "3/4 Page")
                    {
                        <div id="@item.ID" class="draggable ">
                            <div style="float:left;" class="col-md-12">
                                <a>
                                    <div>
                                        <img class="draggable Ad3by4" src="@item.Path" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    else if (item.AdSize == "1/8 Page")
                    {
                        <div id="@item.ID" class="draggable">
                            <div style="float:left;" class="col-md-6">
                                <a>
                                    <div class="">
                                        <img class="draggable AD1by8" src="@item.Path" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    else if (item.AdSize == "Full Spread")
                    {
                        <div id="@item.ID" class="draggable ">
                            <div style="float:left;" class="col-md-6">
                                <a>
                                    <div class="">
                                        <img class="draggable fullbleed" src="@item.Path" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                }
            }
        </div>

    </div>
</div>



<script>

</script>

