@model CommunityConnections.ViewModels.SectionActionViewModel

@{
    ViewBag.Title = "Action";
}


@if (Model != null)
{

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                @if (Model.ID != 0)
                {
                    <span>Edit Section</span>
                }
                else
                {
                    <span>Save Section</span>
                }
            </h2>
            <hr />




            <form id="actionForm">
                <div class="row">

                    <input type="hidden" id="ID" name="ID" value="@Model.ID" />


                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.SectionName, htmlAttributes: new { @class = "control-label col-md-12" })

                        @Html.EditorFor(model => model.SectionName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SectionName, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.StartPage, htmlAttributes: new { @class = "control-label col-md-12" })
                        @Html.EditorFor(model => model.StartPage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StartPage, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.EndPage, htmlAttributes: new { @class = "control-label col-md-12" })
                        @Html.EditorFor(model => model.EndPage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EndPage, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">

                    <div class="form-group col-md-3">
                        <label>In between Any Section</label>
                        <input onclick="HiddenFunction()" id="inBetweenAny" type="checkbox" name="InBetweenAny" />
                    </div>

                    <div hidden="hidden" id="sectionsInBetween">


                        <div class="form-group">

                            <input class="form-control" hidden type="text" id="Monday" name="Monday" />

                            <label>Before Section</label>

                            <select name="BeforeSection">
                                @foreach (var item in Model.Sections)
                                {
                                    <option value="@item.SectionName">@item.SectionName</option>
                                }
                            </select>

                         
                        </div>








                    </div>
                </div>

                
                <br />
                @if (Model.ID != 0)
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary"><i class="fas fa-save mr-1"></i> UPDATE</button>
                }
                else
                {
                    <button id="actionButton" type="button" class="btn btn-outline-primary "><i class="fas fa-save mr-1"></i> SAVE</button>
                }
                <a href="@Url.Action("Index","Section")" class="btn btn-outline-danger"> CANCEL</a>
            </form>

        </div>
    </div>
}
<script>
     $("#actionButton").click(function () {
		$.ajax({
			url: '@Url.Action("Action", "Section")',
			type: "post",
			data: $("#actionForm").serialize()
		})
		.done(function () {

            window.location.href = "@Url.Action("Index","Section")";

		});
     });


    function HiddenFunction() {
        // Get the checkbox
        var checkBox = document.getElementById("inBetweenAny");
        // Get the output text
        var text = document.getElementById("Monday");


        // If the checkbox is checked, display the output text
        if (checkBox.checked == true) {

            text.innerHTML = "true";
            $('#Monday').attr('value', 'true');
            $('#sectionsInBetween').removeAttr('hidden', 'hidden');

        } else {
            text.innerHTML = "false";
            $('#Monday').attr('value', 'false');
            $('#sectionsInBetween').attr('hidden', 'hidden');



        }
    }




</script>

  