@model CommunityConnections.ViewModels.MainScreenViewModel
@{
    ViewBag.Title = "Index";
    Layout = null;
    int count = 0;

}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The  Community Connections</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Content/template/~/Content/template/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/Content/template/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/template/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Content/template/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/template/vendors/mdi/css/materialdesignicons.min.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/Content/template/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/Content/template/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/template/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Content/template/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Content/template/images/favicon.png" />
    <script src="~/Content/template/js/jquery.min.js"></script>

    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js" integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY=" crossorigin="anonymous"></script>

</head>
<style>
    .draggable{
        word-wrap:break-word;   
    }

    .card {
        margin-top: 2em;
        padding: 1.5em 0.5em 0.5em;
        border-radius: 1em;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

        .card img {
            width: 65%;
            border-radius: 50%;
            margin: 0 auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .card .card-title {
            font-weight: 700;
            font-size: 1.5em;
        }

        .card .btn {
            border-radius: 2em;
            background-color: teal;
            color: #ffffff;
            padding: 0.5em 1.5em;
        }

            .card .btn:hover {
                background-color: rgba(0, 128, 128, 0.7);
                color: #ffffff;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }


    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
</style>
<body>
    <div class="container">
        <div class="row">
            <a class="btn btn-block btn-outline-primary" href="@Url.Action("","")">Back To Dashboard</a>
        </div>

    </div>



    <div class="row">
        <div class="col-md-3 table-responsive">

            <table id="launchPad" style="z-index:9;margin-top:5px; overflow:hidden;" class="table table-condensed table-hover table-responsive ">
                <thead>
                    <tr>

                        <th>
                            Ad
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.NonPlacedAds)
                    {
                        <tr>

                            <td id="@item.ID" class="draggable">
                                <div>
                                    <h4>@item.Name</h4>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>


        <div class="col-md-9">
            <table cellpadding="3">
                @{ var counter = 1;
                    int newcounter = 0;}
                <tr>

                    @for (int i = 1; i <= Model.Pages.PageNo; i++)
                    {

                    <td id="@counter">
                        <div class="btn-group-justified" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-primary"><i class="ti-search btn-icon-append"></i></button>
                            <button type="button" class="btn btn-outline-primary"><i class="mdi mdi-account-circle"></i></button>
                        </div>
                        <div id="@counter" class="droppable" style="border:solid; height:300px;width: 10rem;">
                            @{newcounter++;
                            }
                            @for (int n = 0; n < Model.PlacedAds.Count; n++)
                            {


                                if (Model.PlacedAds[n].PageNo == i)
                                {



                                    if (Model.PlacedAds[n].AdSize == "Full Page")
                                    {
                                        <div id="@Model.PlacedAds[n].ID" class="draggable row">
                                            <div class="col-md-12">
                                                <a onclick="ViewAdd(@Model.PlacedAds[n].ID)">
                                                    <div  class="" style="background-color: burlywood; height: 294px;">
                                                        <h5 class="card-body" style="color:white">@Model.PlacedAds[n].Name</h5>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                    }
                                    else
                                    {
                                    <div id="@Model.PlacedAds[n].ID" class="draggable row">
                                        <div class="col-md-12">
                                            <a onclick="ViewAdd(@Model.PlacedAds[n].ID)">
                                                <div  class="" style="background-color:burlywood;">
                                                    <h5 class="card-body" style="color:white">@Model.PlacedAds[n].Name</h5>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    }

                                }

                            }


                            @{count++;}



                            @*counter*@

                        </div>
                        <h4 style="margin-left:70px;">@count.ToString()</h4>


                    </td>

                        if (counter % 6 == 0)
                        {
                        @:</tr><tr>
                        }
                        { counter++; }





                    }
                </tr>

            </table>

        </div>
    </div>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        @{
            if (Model.Ad != null)
            {
                Html.RenderPartial("SelectLayout", Model);
            }
        }

    </div>






    <script>







        $("#launchPad").height($(window).height() - 20);
        var dropSpace = $(window).width() - $("#launchPad").width();
        $("#dropZone").width(dropSpace - 70);
        $("#dropZone").height($("#launchPad").height());


        $(".draggable").draggable({
            appendTo: "body",
            cursor: "hand",
            helper: 'clone',
            revert: "invalid"
        });


        $("#launchPad").droppable({

            tolerance: "intersect",
            accept: ".draggable",
            activeClass: "ui-state-default",
            hoverClass: "ui-state-hover",
            drop: function (event, ui) {
                var DataID = ui.draggable.attr("id");
                $.ajax({
                    url: '@Url.Action("UndoPlacing", "MainScreen")',
                    type: 'POST',
                    data: {
                        DataID: DataID,
                    }


                }).done(function (oData) {

            window.location.href = "@Url.Action("Index","MainScreen")";


                });

            }


        });

        $(".droppable").droppable({
            tolerance: "intersect",
            accept: ".draggable",
            activeClass: "ui-state-default",
            hoverClass: "ui-state-hover",
            drop: function (event, ui) {
                var DataID = ui.draggable.attr("id");
                var DroppedPage = (this).id;
                $.ajax({
                    url: '@Url.Action("SelectLayout", "MainScreen")',
                    type: 'GET',
                    data: {
                        DataID: DataID,
                        DroppedPage: DroppedPage
                    }


                }).done(function (oData) {

                    modal.style.display = "block";

                    $("#myModal").html(oData);


                });

            }


        });



        var modal = document.getElementById("myModal");

        // Get the button that opens the modal

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal




        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        function ViewAdd(ID) {
            window.location.href = "/MainScreen/ViewAd?ID=" + ID + "";
        }
    </script>

















    <script src="~/Content/template/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/Content/template/vendors/chart.js/Chart.min.js"></script>
    <script src="~/Content/template/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/Content/template/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/Content/template/js/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Content/template/js/off-canvas.js"></script>
    <script src="~/Content/template/js/hoverable-collapse.js"></script>
    <script src="~/Content/template/js/template.js"></script>
    <script src="~/Content/template/js/settings.js"></script>
    <script src="~/Content/template/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/Content/template/js/dashboard.js"></script>
    <script src="~/Content/template/js/Chart.roundedBarCharts.js"></script>
</body>
