@model CommunityConnections.ViewModels.MainScreenViewModel
@{
    ViewBag.Title = "Index";
    Layout = null;
    int count = 0;
    int check = 0;
    int anothercount = 0;
}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The  Community Connections</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Content/template/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/Content/template/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/template/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Content/template/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/template/vendors/mdi/css/materialdesignicons.min.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/Content/template/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/Content/template/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/template/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Content/template/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Content/template/images/favicon.png" />
    <script src="~/Content/template/js/jquery.min.js"></script>

    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js" integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY=" crossorigin="anonymous"></script>

</head>
<style>

  /*  body {
       
    }*/

    body {
        background-color: #CCC6C6;
    }

    .row {
        background-color: #CCC6C6;
    }

   
    
    .draggable {
        word-wrap: break-word;
    }

    .card {
        margin-top: 2em;
        padding: 1.5em 0.5em 0.5em;
        border-radius: 1em;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .card img {
        width: 65%;
        border-radius: 50%;
        margin: 0 auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .card .card-title {
        font-weight: 700;
        font-size: 1.5em;
    }

    .card .btn {
            border-radius: 2em;
            background-color: teal;
            color: #ffffff;
            padding: 0.5em 1.5em;
        }
    
    .card .btn:hover {
                background-color: rgba(0, 128, 128, 0.7);
                color: #ffffff;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }

    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .col-md-6, .col-md-9, .col-md-12 {
        padding: 0px;
    }


    .fullsized {
        position: relative;
        width: 6.5in;
        height: 10.75in;
        padding: 0px;
    }

    .fullbleed {
        position: relative;
        width: 13in;
        height: 10.75in;
        padding: 0px;
    }

    .fullpageAD {
        margin-top: 50px;
        margin-left: 50px;
        height: 9.6in;
        width: 5.5in;
    }

    .Ad1by3 {
        margin-top: 20px;
        margin-left: 50px;
        height: 3.25in;
        width: 5.5in;
    }

    .Ad3by4 {
        margin-top: 20px;
        margin-left: 50px;
        height: 7in;
        width: 5.5in;
    }

    .AD1by8 {
        margin-top: 20px;
        margin-left: 50px;
        height: 2.25in;
        width: 2.6in;
    }

    .Ad1By4Horizontal {
        margin-top: 20px;
        margin-left: 50px;
        height: 2.25in;
        width: 5.5in;
    }

    .Ad1By4Vertical {
        margin-top: 20px;
        margin-left: 50px;
        height: 4.75in;
        width: 2.6in;
    }

    .AdHalfPageVertical {
        margin-top: 20px;
        margin-left: 50px;
        height: 9.7in;
        width: 2.6in;
    }

    .AdHalfPageHorizontal {
        margin-top: 20px;
        margin-left: 50px;
        height: 4.75in;
        width: 5.5in;
    }



    .pages {
        background-color: white;
        width: 6.5in;
        height: 10.75in;
        /*position:relative;*/
    }

    #launchPad {
        height: 1032px;
        width: 500px;
        font-size: x-large;
    }

    h4 {
        font-size: xx-large;
    }
</style>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a style="font-size: 50px;" class="btn btn-block btn-primary" href="@Url.Action("","")">Back To Dashboard</a>
            </div>

            <div class="col-md-4">
                <a style="font-size: 50px;" class="btn btn-block btn-info" href="@Url.Action("Index","Ads")">Back To Ads Screen</a>
            </div>

            <div class="col-md-4">
                <a style="font-size: 50px;" class="btn btn-block btn-info" href="@Url.Action("Index","Customer")">Back To Customer</a>
            </div>

         
        </div>

    </div>

    <br />

    <div class="row">
        <div class="col-md-3 table-responsive">
            <form>
                <div class="input-group">
                    <input style=" height: 116px; font-size: 116px; " type="text" name="searchterm" class="form-control" placeholder="Search." value="@Model.SearchTerm">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <br />
                    <button style="font-size: 40px;" class="btn btn-outline-primary" type="submit"><i class="mdi mdi-account-search"></i> Search</button>

                </div>
            </form>
            <table id="launchPad" style="z-index: 9; margin-top: 5px; overflow: initial; " class="table table-condensed table-hover table-responsive ">
                <thead>
                    <tr>

                        <th>
                            Ad
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.NonPlacedAds != null)
                    {
                        foreach (var item in Model.NonPlacedAds)
                        {
                            <tr>

                                <td id="@item.ID" class="draggable">
                                    <div>
                                        <h4 style="font-size:47px;">@item.Name</h4>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                <tr>

                    <td id="@Model.NotPlacedAD.ID" class="draggable">
                        <div>
                            <h4 style="font-size:47px;">@Model.NotPlacedAD.Name</h4>
                        </div>
                    </td>
                </tr>
                    }
                </tbody>
            </table>
        </div>


        <div class="col-md-9">
            <table class="table-responsive">
                @{ var counter = 1;
                    int newcounter = 0;}
                <tr>


                    @foreach (var item in Model.Sections)
                    {
                        if (item.MoveForward == "Yes")
                        {
                            for (int i = item.StartPage; i <= item.EndPage; i++)
                            {
                                if (counter % 2 == 0)
                                {
                                    <td style="padding-right: 15px;" id="@counter">



                                        <div class="btn-group-justified" role="group" aria-label="Basic example">
                                            <button style="padding:0px;" hidden="hidden" data-id="@counter" onclick="" type="button" class="btnSearchAdsInPage btn btn-warning btn-sm"><i class="ti-search btn-icon-append"></i></button>
                                            <span hidden="hidden" style="padding:0px; font-size:30px;" onclick="" type="button" data-item="@counter" class="StatusButton btn btn-warning btn-sm"></span>
                                        </div>



                                        <div id="@counter" class="droppable pages">
                                            @{newcounter++;
                                            }


                                            @for (int n = 0; n < Model.PlacedAds.Count; n++)
                                            {

                                                { anothercount = n; }
                                                if (Model.PlacedAds[n].PageNo == i || Model.PlacedAds[n].PageTwo == i)
                                                {


                                                    if (Model.PlacedAds[n].AdSize == "Full Page")
                                                    {
                                                        <div id="@Model.PlacedAds[n].ID" class="draggable">
                                                            <div class="col-md-12">
                                                                @*<a>*@
                                                                <a>
                                                                    <div>
                                                                        <img onclick="ShowToggle(@Model.PlacedAds[n].ID,@counter)" class="fullpageAD" src="@Model.PlacedAds[n].Path" />
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>

                                                    }

                                                    else if (Model.PlacedAds[n].AdSize == "1/3 Page")
                                                    {
                                                        <div id="@Model.PlacedAds[n].ID" class="draggable">
                                                            <div class="col-md-12">
                                                                <a>
                                                                    <div class="">
                                                                        <img onclick="ShowToggle(@Model.PlacedAds[n].ID,@counter)" class="Ad1by3" src="@Model.PlacedAds[n].Path" />
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }
                                                    else if (Model.PlacedAds[n].AdSize == "3/4 Page")
                                                    {
                                                        <div id="@Model.PlacedAds[n].ID" class="draggable">
                                                            <div class="col-md-12">
                                                                <a>
                                                                    <div class="">
                                                                        <img onclick="ShowToggle(@Model.PlacedAds[n].ID,@counter)" class="Ad3by4" src="@Model.PlacedAds[n].Path" />
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }
                                                    else if (Model.PlacedAds[n].AdSize == "Full Page W’ Bleed")
                                                    {
                                                        <div id="@Model.PlacedAds[n].ID" class="draggable">
                                                            <div class="col-md-12">
                                                                <a>
                                                                    <div>
                                                                        <img onclick="ShowToggle(@Model.PlacedAds[n].ID,@counter)" class="fullsized" src="@Model.PlacedAds[n].Path" />
                                                                    </div>
                                                                </a>
                                                            </div>



                                                        </div>
                                                    }

                                                    else if (Model.PlacedAds[n].AdSize == "1/4 Page Vertical")
                                                    {
                                                        <div id="@Model.PlacedAds[n].ID" class="draggable">
                                                            <div class="col-md-12">
                                                                <a>
                                                                    <div class="">
                                                                        <img onclick="ShowToggle(@Model.PlacedAds[n].ID,@counter)" class="Ad1By4Vertical" src="@Model.PlacedAds[n].Path" />
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }
                                                    else if (Model.PlacedAds[n].AdSize == "1/4 Page")
                                                    {
                                                        <div id="@Model.PlacedAds[n].ID" class="draggable">
                                                            <div class="col-md-12">
                                                                <a>
                                                                    <div class="">
                                                                        <img onclick="ShowToggle(@Model.PlacedAds[n].ID,@counter)" class="Ad1By4Horizontal" src="@Model.PlacedAds[n].Path" />
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }
                                                    else if (Model.PlacedAds[n].AdSize == "1/2 Page Vertical")
                                                    {
                                                        <div id="@Model.PlacedAds[n].ID" class="draggable">
                                                            <div class="col-md-12">
                                                                <a>
                                                                    <div class="">
                                                                        <img onclick="ShowToggle(@Model.PlacedAds[n].ID,@counter)" class="AdHalfPageVertical" src="@Model.PlacedAds[n].Path" />
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }
                                                    else if (Model.PlacedAds[n].AdSize == "1/2 Page")
                                                    {
                                                        <div id="@Model.PlacedAds[n].ID" class="draggable">
                                                            <div class="col-md-12">
                                                                <a>
                                                                    <div class="">
                                                                        <img onclick="ShowToggle(@Model.PlacedAds[n].ID,@counter)" class="AdHalfPageHorizontal" src="@Model.PlacedAds[n].Path" />
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }
                                                    else if (Model.PlacedAds[n].AdSize == "1/8 Page")
                                                    {


                                                        <div id="@Model.PlacedAds[n].ID" class="draggable">
                                                            <div class="col-md-6">
                                                                <a>
                                                                    <div class="">
                                                                        <img onclick="ShowToggle(@Model.PlacedAds[n].ID,@counter)" class="AD1by8" src="@Model.PlacedAds[n].Path" />
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }

                                                }

                                            }


                                            @{count++;}



                                            @*counter*@

                                        </div>
                                        @foreach (var item2 in Model.PlacedAds)
                                        {
                                            if (item2.AdSize != "Full Page W’ Bleed")
                                            {
                                                <h4 style="margin-left:70px;">@count.ToString()</h4>
                                                break;
                                            }
                                        }



                                    </td>
                                }
                                else
                                {
                                    <td style="padding-right: 15px;" id="@counter">



                                        <div class="btn-group-justified" role="group" aria-label="Basic example">
                                            <button style="padding:0px;" hidden="hidden" data-id="@counter" onclick="" type="button" class="btnSearchAdsInPage btn btn-warning btn-sm"><i class="ti-search btn-icon-append"></i></button>
                                            <span hidden="hidden" style="padding:0px; font-size:30px;" onclick="" type="button" data-item="@counter" class="StatusButton btn btn-warning btn-sm"></span>
                                        </div>


                                        <div id="@counter" class="droppable pages">
                                            @{newcounter++;
                                            }
                                            @for (int n = 0; n < Model.PlacedAds.Count; n++)
                                            {

                                                { anothercount = n; }

                                                if (Model.PlacedAds[n].PageNo == i)
                                                {


                                                    if (Model.PlacedAds[n].AdSize == "Full Page")
                                                    {
                                                        <div id="@Model.PlacedAds[n].ID" class="draggable">
                                                            <div class="col-md-12">
                                                                <a>
                                                                    @*<a>*@
                                                                    <div>
                                                                        <img onclick="ShowToggle(@Model.PlacedAds[n].ID,@counter)" class="fullpageAD" src="@Model.PlacedAds[n].Path" />
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>

                                                    }
                                                    else if (Model.PlacedAds[n].AdSize == "Full Page W’ Bleed")
                                                    {
                                                        <div id="@Model.PlacedAds[n].ID" class="draggable">
                                                            <div class="col-md-12">
                                                                <a>
                                                                    <div>
                                                                        <img onclick="ShowToggle(@Model.PlacedAds[n].ID,@counter)" class="fullsized" src="@Model.PlacedAds[n].Path" />
                                                                    </div>
                                                                </a>
                                                            </div>



                                                        </div>
                                                    }
                                                    else if (Model.PlacedAds[n].AdSize == "1/3 Page")
                                                    {
                                                        <div id="@Model.PlacedAds[n].ID" class="draggable">
                                                            <div class="col-md-12">
                                                                <a>
                                                                    <div class="">
                                                                        <img onclick="ShowToggle(@Model.PlacedAds[n].ID,@counter)" class="Ad1by3" src="@Model.PlacedAds[n].Path" />
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }
                                                    else if (Model.PlacedAds[n].AdSize == "1/4 Page Vertical")
                                                    {
                                                        <div id="@Model.PlacedAds[n].ID" class="draggable">
                                                            <div class="col-md-12">
                                                                <a>
                                                                    <div class="">
                                                                        <img onclick="ShowToggle(@Model.PlacedAds[n].ID,@counter)" class="Ad1By4Vertical" src="@Model.PlacedAds[n].Path" />
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }
                                                    else if (Model.PlacedAds[n].AdSize == "1/4 Page")
                                                    {
                                                        <div id="@Model.PlacedAds[n].ID" class="draggable">
                                                            <div class="col-md-12">
                                                                <a>
                                                                    <div class="">
                                                                        <img onclick="ShowToggle(@Model.PlacedAds[n].ID,@counter)" class="Ad1By4Horizontal" src="@Model.PlacedAds[n].Path" />
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }
                                                    else if (Model.PlacedAds[n].AdSize == "1/2 Page Vertical")
                                                    {
                                                        <div id="@Model.PlacedAds[n].ID" class="draggable">
                                                            <div class="col-md-12">
                                                                <a>
                                                                    <div class="">
                                                                        <img onclick="ShowToggle(@Model.PlacedAds[n].ID,@counter)" class="AdHalfPageVertical" src="@Model.PlacedAds[n].Path" />
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }
                                                    else if (Model.PlacedAds[n].AdSize == "1/2 Page")
                                                    {
                                                        <div id="@Model.PlacedAds[n].ID" class="draggable">
                                                            <div class="col-md-12">
                                                                <a>
                                                                    <div class="">
                                                                        <img onclick="ShowToggle(@Model.PlacedAds[n].ID,@counter)" class="AdHalfPageHorizontal" src="@Model.PlacedAds[n].Path" />
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }
                                                    else if (Model.PlacedAds[n].AdSize == "3/4 Page")
                                                    {
                                                        <div id="@Model.PlacedAds[n].ID" class="draggable">
                                                            <div style="float:left;" class="col-md-12">
                                                                <a>
                                                                    <div>
                                                                        <img onclick="ShowToggle(@Model.PlacedAds[n].ID,@counter)" class="Ad3by4" src="@Model.PlacedAds[n].Path" />
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }
                                                    else if (Model.PlacedAds[n].AdSize == "1/8 Page")
                                                    {
                                                        <div id="@Model.PlacedAds[n].ID" class="draggable">
                                                            <div style="float:left;" class="col-md-6">
                                                                <a>
                                                                    <div class="">
                                                                        <img onclick="ShowToggle(@Model.PlacedAds[n].ID,@counter)" class="AD1by8" src="@Model.PlacedAds[n].Path" />
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }
                                                    else if (Model.PlacedAds[n].AdSize == "Full Spread")
                                                    {
                                                        <div id="@Model.PlacedAds[n].ID" class="draggable">
                                                            <div style="float:left;" class="col-md-6">
                                                                <a>
                                                                    <div class="">
                                                                        <img onclick="ShowToggle(@Model.PlacedAds[n].ID,@counter)" class="fullbleed" src="@Model.PlacedAds[n].Path" />
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }
                                                }

                                            }


                                            @{count++;}



                                            @*counter*@

                                        </div>

                                        @foreach (var item2 in Model.PlacedAds)
                                        {
                                            if (item2.AdSize != "Full Page W’ Bleed")
                                            {
                                                <h4 style="margin-left:70px;">@count.ToString()</h4>
                                                break;
                                            }
                                        }


                                    </td>
                                }

                                if (counter % 6 == 0)
                                {
                                @:</tr><tr>
                                }
                                { counter++; }
                            }
                        }
                    }

                    
                </tr>

            </table>

        </div>
    </div>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        @{
            if (Model.Ad != null)
            {
                Html.RenderPartial("SelectLayout", Model);
            }
        }

    </div>


    <div id="AdsViewModal" class="modal">

        <!-- Modal content -->
        @{
            if (Model.Ad != null)
            {
                Html.RenderPartial("AdsView", Model);
            }
        }

    </div>


    <div id="CustomerViewModal" class="modal">

        <!-- Modal content -->
        @{
            if (Model.Ad != null)
            {
                Html.RenderPartial("CustomerView", Model);
            }
        }
    </div>
   




    <script>






        $("#launchPad").height($(window).height() - 20);
        var dropSpace = $(window).width() - $("#launchPad").width();
        $("#dropZone").width(dropSpace - 70);
        $("#dropZone").height($("#launchPad").height());


        $(".draggable").draggable({
            appendTo: "body",
            cursor: "hand",
            helper: 'clone',
            revert: "invalid"
        });

        $(".droppable").droppable({
            tolerance: "intersect",
            accept: ".draggable",
            activeClass: "ui-state-default",
            hoverClass: "ui-state-hover",
            drop: function (event, ui) {
                var AdID = ui.draggable.attr("id");
                var AdPage = (this).id;
                $.ajax({
                    url: '@Url.Action("PlaceAd", "MainScreen")',
                    type: 'POST',
                    data: {
                        AdID: AdID,
                        AdPage: AdPage
                    }


                }).done(function () {

                    window.location.href = "@Url.Action("Index","MainScreen")";


                });

            }


        });

        $("#launchPad").droppable({

            tolerance: "intersect",
            accept: ".draggable",
            activeClass: "ui-state-default",
            hoverClass: "ui-state-hover",
            drop: function (event, ui) {
                var DataID = ui.draggable.attr("id");
                $.ajax({
                    url: '@Url.Action("UndoPlacing", "MainScreen")',
                    type: 'POST',
                    data: {
                        DataID: DataID,
                    }


                }).done(function (oData) {

            window.location.href = "@Url.Action("Index","MainScreen")";


                });

            }


        });


         $(".btnSearchAdsInPage").click(function () {
            $.ajax({
                url: '@Url.Action("AdsView", "MainScreen")',
                type: "GET",
                data: { ID: $(this).attr("data-id") }
            })
                .done(function (oData) {
                    adsViewModal.style.display = "block";

                    $("#AdsViewModal").html(oData);
                })
                .error(function (error) {
                    alert(error);
                })
        });



        var modal = document.getElementById("myModal");
        var adsViewModal = document.getElementById("AdsViewModal");
        var span = document.getElementsByClassName("close")[0];

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
            if (event.target == adsViewModal) {
                adsViewModal.style.display = "none";
            }
        };


        function ShowToggle(ID, Counter) {


            $.ajax({
                url: '@Url.Action("GetAdStatus", "MainScreen")',
                type: "GET",
                data: { ID: ID }
            })
                .done(function (oData) {
                    var myData = oData;
                    var element = $(`.StatusButton[data-item=${Counter}]`);
                    var element2 = $(`.btnSearchAdsInPage[data-id=${Counter}]`);


                    if (element.is(":visible")) {
                    

                        element.attr('hidden', "hidden");
                        element2.attr('hidden', "hidden");
                    }
                    else {
                        element.removeAttr('hidden');
                        element2.removeAttr('hidden');
                    }
                    element.html(myData);
                });
            
        };




       

    </script>

















    <script src="~/Content/template/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/Content/template/vendors/chart.js/Chart.min.js"></script>
    <script src="~/Content/template/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/Content/template/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/Content/template/js/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Content/template/js/off-canvas.js"></script>
    <script src="~/Content/template/js/hoverable-collapse.js"></script>
    <script src="~/Content/template/js/template.js"></script>
    <script src="~/Content/template/js/settings.js"></script>
    <script src="~/Content/template/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/Content/template/js/dashboard.js"></script>
    <script src="~/Content/template/js/Chart.roundedBarCharts.js"></script>
</body>
